body{
  font-family: 'Open Sans', sans-serif;
}

main, section{
  margin: 5% 0;
}

a{
  text-decoration: none;
}

.list-inline{
  list-style: none;
}

.list-inline li{
  display: inline-block;
}

/* HEADER */
/* header top */
.header-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  line-height: 70px;
  font-size: 0.7rem;
  font-weight: 700;
}

.logo{
  height: 12px;
}

.main-menu{
  text-align: right;
}
.main-menu li{
  margin-right: 3%;
}
.main-menu li a{
  color: #000000;
}

.container-width{
  width: 100%;
}

.side-menu{
  text-align: right;
}

.buttonlogin{
  padding: 20% 45%;
  margin-left: 20%;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
}

.fa-bars{
  float: right;
  line-height: 70px;
  font-size: 1.4rem;
}

.nav-select{
  outline: none;
  border: none;
  font-size: 0.7rem;
  padding: 0 5%;
}

.border-nav{
  border-left: 1px solid #000000;
  line-height: 0.9rem;
}
/* /header top */

/* header main */
.hero{
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1{
  color: #ffffff;
  font-size: 45px;
}

.banner p{
  color: #ffffff;
  font-size: 18px;
  padding: 3%;
}

@media screen and (max-width: 992px) and (min-width: 769px){
  .banner img{
    max-width: 200px;
    min-width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .banner img{
    max-width: 200px;
  }
}
/* /header main */

/* MAIN */
/* section first */
.column-learn{
  background-color: #FAFAFA;
  text-align: center;
  border-right: 10px solid #ffffff;
  height: 600px;
  line-height: 50px;
  padding: 3%;
}

.column-learn-bike{
  border-right: none;
  border-left: 10px solid #ffffff;
}

.column-learn a{
  color: #0070C8;
  margin-bottom: 3%;
}

.logo-learn{
  max-width: 250px;
}

.market-helbiz img{
  max-height: 400px;
  max-width: 100%;
}

@media screen and (max-width: 992px) and (min-width: 769px){
  .column-learn{
    height: 500px;
  }
}
/* /section first */

/* section second */
.section-second img{
  width: 100%;
}
/* /section second */

/* section third */
.bgcolor-green{
  margin-top: 50px;
  background: linear-gradient(90deg, #87431d, #025e11);
}

.bg-color-title{
  height: 400px;
  text-align: center;
  padding: 3% 10%;
}

.bg-color-title h2{
  color: #ffffff;
  font-size: 45px;
  line-height: 50px;
}

.bg-color-title p{
  color: #ffffff;
  font-size: 20px;
  padding: 7% 0;
}

.bg-color-title a{
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 768px){
  .bg-color-title{
    height: 300px;
  }
}

.bg-color-blue{
  border-right: 10px solid #ffffff;
  margin-top: 30px;
  padding: 7% 5%;
  height: 600px;
  background: linear-gradient(180deg, #3F5467, #263039);
}

.bg-color-blue h2{
  padding-bottom: 20px;
}

.bg-color-blue li{
  list-style: none;
  display: inline;
  padding: 10px;
}

.bg-city{
  border-left: 10px solid #ffffff;
  margin-top: 30px;
  padding: 7% 10%;
  height: 600px;
  background-image: url(../img/washington.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-city h2{
  padding-bottom: 20px;
}
/* /section third */
